.ballpoint-tb-bt {
    height: 40px;
    min-width: 40px;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: transparent;
}
.ballpoint-tb-bt.default {
    border: 2px solid rgba(40, 40, 40, 0);
    background-color: rgba(235, 235, 235, 0);
    transition: background-color 200ms, border-color 200ms;
}
.ballpoint-tb-bt.default:hover {
    background-color: rgba(235, 235, 235, 1);
    border-color: rgba(40, 40, 40, 1);
}
.ballpoint-tb-bt.light {
    background-color: rgba(235, 235, 235, 0);
    transition: background-color 200ms;
}
.ballpoint-tb-bt.light:hover {
    background-color: rgba(235, 235, 235, 1);
}
.ballpoint-tb-bt.dark {
    background-color: rgba(60, 60, 60, 0);
    transition: background-color 200ms;
    fill: rgb(235, 235, 235);
    color: rgb(235, 235, 235);
}
.ballpoint-tb-bt.dark:hover {
    background-color: rgba(60, 60, 60, 1);
}